.idea/
*.iml
*~
*.swp
*.log
metastore_db
.project
.settings
.classpath
run
tmp
.idea/
derby.log
osm_nodes.cache
osm2pgsql/file.cache
tmp/
*.pbf
*.jar
__pycache__/

*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

.idea*
output/
metastore_db
*.dump
*.csv
*.vrt
dependency-reduced-pom.xml
